.navbar {
  box-shadow: none !important;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0; }
  .navbar .user-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFF;
    border: 1px solid #CCC;
    padding: 0px; }
  .navbar .dropdown-toggle::after {
    display: none; }
  .navbar .dropdown-menu {
    position: absolute;
    transform: translate3d(0px, 35px, 0px);
    top: 20px;
    left: auto;
    right: 0px;
    will-change: transform; }

.navbar-nav {
  flex-direction: row; }

.navbar-dark {
  background: rgba(255, 255, 255, 0.9); }

.nav-item {
  margin-left: 15px; }

.navbar-date {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase; }

.nav-link img {
  width: 25px;
  height: 25px;
  color: #fff; }
