html, body {
  margin: 0;
  height: 100%;
  color: white; }

body.blue {
  background: linear-gradient(to bottom, #3b93f7, #25dafc); }

.login-container {
  width: 75%;
  max-width: 400px;
  height: 100%;
  margin: auto;
  color: white;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column; }
  .login-container img {
    width: 200px;
    margin: 20px 0; }
  .login-container h1 {
    flex: 1 0 25%; }
  .login-container .form-group {
    flex: 1 0 75%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login-container .form-group .login-input {
      width: 100%;
      margin-bottom: 20px;
      color: white; }
      .login-container .form-group .login-input::placeholder {
        color: white; }
    .login-container .form-group #sign-in {
      margin-top: 50px;
      margin-bottom: 100px;
      width: 50%;
      height: 50px;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: 0 0.5px 2px 0 rgba(50, 51, 52, 0.1);
      border: none;
      color: #31b3f9; }
      .login-container .form-group #sign-in.enabled {
        background-color: white; }

.tasks-grid {
  padding: 20px;
  display: flex;
  overflow: scroll; }
  .tasks-grid .task-card {
    flex-shrink: 0;
    margin-top: 20px;
    margin-right: 20px;
    width: 180px;
    height: 200px;
    overflow: scroll;
    display: flex;
    flex-direction: column; }
    .tasks-grid .task-card .tasks {
      height: 100px;
      flex: 1; }
    .tasks-grid .task-card .progress-percent {
      text-align: right; }

.project-container {
  padding: 0 10%;
  height: 100%;
  margin: auto;
  background-color: white;
  font-family: "Open Sans";
  overflow: scroll; }
  .project-container .task-count {
    color: #969696; }
  .project-container .progress-percent {
    text-align: right;
    color: #969696; }
  .project-container .project-status {
    margin-top: 10px;
    display: flex;
    justify-content: space-between; }
    .project-container .project-status .status {
      display: flex;
      align-items: center; }
      .project-container .project-status .status .status-count {
        border-radius: 15px;
        margin: 0 5px;
        padding: 0 5px; }
      .project-container .project-status .status.late .status-count {
        border: solid 2px #ff6562;
        color: #ff6562; }
      .project-container .project-status .status.today .status-count {
        border: solid 2px #3b93f7;
        color: #3b93f7; }
      .project-container .project-status .status.upcoming .status-count {
        border: solid 2px #fcb52b;
        color: #fcb52b; }
  .project-container .section {
    margin-top: 20px; }
    .project-container .section.collapsed .tasks-container {
      height: 0;
      overflow: hidden; }
    .project-container .section .section-toggler {
      display: flex;
      margin-bottom: 10px; }
      .project-container .section .section-toggler .section-name {
        flex: 1;
        font-size: 1.2rem; }
      .project-container .section .section-toggler img {
        flex: 0 0;
        width: 15px;
        height: 15px; }
    .project-container .section .tasks-container .task {
      border-bottom: solid 1px #c8c8c8;
      display: flex;
      padding: 5px 0; }
      .project-container .section .tasks-container .task .image-container {
        flex: 0 0;
        margin-right: 5px; }
        .project-container .section .tasks-container .task .image-container img {
          height: 20px;
          width: 20px; }
      .project-container .section .tasks-container .task .task-body {
        color: #969696; }
        .project-container .section .tasks-container .task .task-body .task-name {
          flex: 1 0 90%;
          display: flex;
          align-items: center;
          color: black;
          font-size: 1rem; }
        .project-container .section .tasks-container .task .task-body .task-details.hidden {
          height: 0;
          overflow: hidden; }
        .project-container .section .tasks-container .task .task-body .task-details .task-description {
          color: #969696;
          margin: 5px 0; }
        .project-container .section .tasks-container .task .task-body .task-details .control {
          display: flex;
          color: black; }
          .project-container .section .tasks-container .task .task-body .task-details .control .image-container {
            flex: 0 0;
            margin-right: 5px; }
          .project-container .section .tasks-container .task .task-body .task-details .control .actions .link {
            margin-left: 10px;
            margin-bottom: 10px;
            text-decoration: underline;
            cursor: pointer; }

.add-task-container {
  height: 100%;
  background: white;
  font-family: "Open Sans"; }
  .add-task-container .add-task {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 400px;
    margin: auto; }
    .add-task-container .add-task label, .add-task-container .add-task .actions {
      margin-top: 20px; }
    .add-task-container .add-task select, .add-task-container .add-task input {
      height: 32px;
      border: solid 1px #c8c8c8;
      border-radius: 4px;
      background-color: transparent; }
    .add-task-container .add-task .actions {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      .add-task-container .add-task .actions .btn-cancel {
        color: #c8c8c8;
        box-shadow: none;
        cursor: pointer; }

.card .title {
  font-size: 16px; }

@media (min-width: 600px) {
  .tasks-grid {
    flex-wrap: wrap; }
  .project-container .project-status {
    justify-content: left; }
    .project-container .project-status .status {
      margin-right: 40px; }
  .project-container .section .tasks-container .task .task-body .task-details .control .actions {
    display: flex; } }
