.image-container
    // ko if: task.subtaskCount
    a.task-action(href='#', data-bind='click: function () {toggleDetails(task.taskId)}')
        span(class='subtask-count', data-bind='text: task.subtaskCount, css: task.taskType')
    // /ko
    // ko ifnot: task.subtaskCount
    a.task-action(href='#', data-bind='click: function () {completeTask(task.taskId)}')
        .check(data-bind='css: task.taskType')
            include ../images/icons/task.svg
    // /ko

.task-body
    .task-name(data-bind='html: task.taskName, click:  function () {toggleDetails(task.taskId)}')
    
    .task-details.hidden
        .task-description(data-bind='html: task.taskDescription')
        
        .task-controls
            // ko if: task.taskStartDate
            .date.control
                .image-container
                    .icon
                        include ../images/icons/calendar.svg
                .actions
                    // ko text: "Start: " + moment(task.taskStartDate,"YYYYMMDD").format("D MMM YYYY")
                    // /ko
            // /ko
            // ko if: task.taskDueDate
            .date.control
                .image-container
                    .icon
                        include ../images/icons/calendar.svg
                .actions
                    // ko text: "Due: " + moment(task.taskDueDate,"YYYYMMDD").format("D MMM YYYY")
                    // /ko
            // /ko
            // ko if: task.attachmentCount > 0
            .date.control
                .image-container
                    .icon
                        include ../images/icons/attachment.svg
                .actions
                    a.link(data-bind="attr: {href: domain() + '#tasks/' + task.taskId}, text: task.attachmentCount + ' attachment' + (task.attachmentCount == 1 ? '' : 's')", href='#', target='_blank')
            // /ko
            // ko if: task.commentCount > 0
            .date.control
                .image-container
                    .icon
                        include ../images/icons/comments.svg
                .actions
                    a.link(data-bind="attr: {href: domain() + '#tasks/' + task.taskId}, text: task.commentCount + ' comment' + (task.commentCount == 1 ? '' : 's')", href='#', target='_blank')
            // /ko
            .open-in-projects.control
                .image-container
                    .icon
                        include ../images/icons/projects-mark.svg
                .actions
                    a.link(data-bind="attr: {href: domain() + '#tasks/' + task.taskId}", href='#', target='_blank')
                        | View in Projects

            // ko if: getSubtasks(task.taskId).length
            .subtasks(data-bind="foreach: getSubtasks(task.taskId)")
                task.task(data-bind="attr: {'data-task-id' : taskId}", params="task: $data")
            // /ko
            // ko if: task.subtaskCount != getSubtasks(task.taskId).length
            .subtasks-else One or more subtasks belong to someone else
            // /ko