doctype html
html
    include layout/header
        
    body
        .scroll-bg(data-bind='visible: lightNav')
        include layout/splash
        include layout/navbar
        include layout/login
        include layout/dashboard
        include layout/add-task
        include layout/tasks
        include layout/search

        include layout/scripts
