doctype html
html(lang='en')
    include layout/header
        
    body
        include layout/splash
        include layout/navbar
        include layout/login
        include layout/dashboard
        include layout/add-task
        include layout/tasks

        include layout/scripts
