doctype html
html
    include layout/header
        
    body.is-electron(data-bind='css: {"is-electron": window && window.process && window.process.type == "renderer"}')
        #electron-titlebar
        .scroll-bg(data-bind='visible: lightNav')
        include layout/splash
        include layout/navbar
        include layout/login
        include layout/dashboard
        include layout/add-task
        include layout/tasks
        include layout/search

        include layout/scripts
