@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    box-shadow: none !important;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 0;

    .svg-icon {
        width: 24px;
        height: 24px;
    }

    .user-icon {
        width: 25px; 
        height: 25px; 
        border-radius: 50%; 
        background: #FFF; 
        padding: 0; 
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        position: absolute; 
        transform: translate3d(0px, 35px, 0px); 
        top: 0; 
        left: auto; 
        right: 0px; 
        will-change: transform;
    }

    .nav-link {
        padding: 0;
        will-change: opacity;
        transition: opacity 0.15s;

        &:hover {
            opacity: 0.7;
        }

        &.loading {
            animation-name: spin;
            animation-duration: 800ms;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
        }
    }
}

.is-electron .navbar {
    padding-top: 35px;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-dark {
    background: rgba(white,.95);
}

.nav-item {
    margin-left: 15px;
}

.navbar-date {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-link img {
    width: 25px;
    height: 25px;
    color: #fff;
}
