@import 'bs';
@import 'header';
@import 'loader';


html, body {
    margin: 0;
    height: 100%;
    font-family: "Open Sans";
}

.heading {
    font-weight: 400;
}

.scroll-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    &::before, &::after {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        height: 50%;
    }

    &::before {
        top: 0;
        background: #25dafc;
    }
    &::before {
        background: #3b93f7;
        bottom: 0;
    }
}

.bs-component {
    height: 100%;
    padding: 80px 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    > .container {
        margin-top: auto;
        margin-bottom: auto;
    }

    &.blue-bg {
        background: linear-gradient(to bottom, #3b93f7, #25dafc);
        color: white;
    }

    &.white-bg {
        background: white;
        color: #494e5e;
    }
}

.splash-container {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        padding: 0 30px;
        max-width: 400px;
        margin: auto;
    }

    img {
        width: 150px;
        margin: 0 0 30px;
    }
    
    .heading {
        margin: 0 0 100px;
    }

    form {
        input {
            width: 100%;
            margin: 30px 0;
            color: white;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:focus {
                color: white;
            }
            
            &::placeholder {
                color: rgba(white,50%);
            }
        }

        .error {
            text-align: center;
            margin: 30px 0;
            font-weight: 600;
            color: #ffd4d4;
            font-size: 14px;
        }

        #sign-in {
            width: 50%;
            height: 50px;
            border-radius: 2px;
            margin: 30px auto 0;
            display: block;
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 0 0.5px 2px 0 rgba(50, 51, 52, 0.1);
            border: none;
            color: #31b3f9;

            &.enabled {
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
} 

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks-grid {
    margin: 40px -15px;
    display: flex;
    overflow: scroll;

    .task-card {
        flex-shrink: 0;
        margin: 15px;
        width: 205px;
        height: 200px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        color: #494e5e;
        cursor: pointer;
        padding: 30px;

        .title {
            font-size: 16px;
            font-weight: 400;
        }

        .tasks {
            flex: 1;
            opacity: 0.4;
        }
    }
}

.project-container {
    height: 100%;
    margin: auto;
    background-color: white;
    overflow: scroll;
    
    .task-count {
        color: rgb(150,150,150);
    }

    .progress-percent {
        text-align: right;
        color: rgb(150,150,150);
    }

    .project-status {
        margin-top: 30px;
        display: flex;
        
        .status {
            display: flex;
            align-items: center;
            color: #969696;
            margin-right: 15px;
            transition: color 0.16s;
            
            &.selected {
                font-weight: 600;
                color: #494e5e
            }
            
            &:hover, &:active {
                text-decoration: none;
            }

            .status-count {
                border-radius: 50%;
                margin: 0 0 0 10px;
                width: 22px;
                height: 22px;
                display: block;
                line-height: 20px;
                text-align: center;
                font-size: 10px;
                border: 1px solid;
            }

            &.late .status-count {
                border-color: #ff6562;
                color: #ff6562;
            }
            &.today .status-count {
                border-color: #3b93f7;
                color: #3b93f7;
            }
            &.upcoming .status-count {
                border-color: #fcb52b;
                color: #fcb52b;
            }
        }


    }

    .section {
        margin-bottom: 50px;

        &.collapsed {
            .tasks-container {
                height: 0;
                overflow: hidden;
            }
        }

        .section-toggler {
            margin-top: 50px;
            display: flex;
            padding-bottom: 15px;
            border-bottom: solid 1px rgba(245, 246, 247, 0.5);
            
            .section-name {
                flex: 1;
                font-size: 1.2rem;
            }
            img {
                flex: 0 0;
                width: 15px;
                height: 15px;
            }
        }

        .tasks-container {

            .task-action {
                text-decoration: none;
            }

            .completed {
                .task-name {
                    text-decoration: line-through;
                }

                img.check {
                    filter: contrast(30%) invert(100%) sepia(100%) saturate(3000%) hue-rotate(50deg);
                    opacity: 1;
                }
            }

            .highlight {
                .task-name {
                    font-weight: 600;
                }
            }

            .task {
                border-bottom: solid 1px rgba(245, 246, 247, 0.5);
                display: flex;
                padding: 15px 0;
                overflow: hidden;
                
                .image-container {
                    flex: 0 0;
                    margin-right: 15px;
                    
                    img.check {
                        height: 20px;
                        width: 20px;
                        opacity: 0.4;
                    }
                    
                    .subtask-count {
                        color: white;
                        display: block;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        background: #969696;
                    }
                }
                
                .task-body {
                    flex-grow: 1;

                    .task-name {
                        flex: 1 0 90%;
                        display: flex;
                        align-items: center;
                        color: #494e5e;
                        font-size: 15px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                    }
                    .task-details {
                        padding-top: 15px;
                        color: rgba(#494e5e,.5);
                        
                        &.hidden {
                            display: none;
                        }
                        .task-description {
                            margin: 0 0 15px;
                        }
                        .control {
                            display: flex;
                            margin-bottom: 10px;

                            .image-container {
                                flex: 0 0;
                                margin-right: 15px;

                                img {
                                    opacity: 0.35;
                                }
                            }

                            .actions {
                                .link {
                                    color: inherit;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.add-task-container {

    form.add-task {
        max-width: 400px;
        margin: auto;

        h3 {
            margin-bottom: 30px
        }

        .form-group {
            margin: 0 0 20px;
        }

        input {
            -webkit-appearance: none;
        }

        select, input {
            font-size: 16px;
            color: #494e5e;
            box-shadow: none!important;
            border: solid 1px rgb(200, 200, 200);
            border-radius: 3px;
            padding: 10px;
            margin: 0;
            line-height: 24px;
            background-color: transparent;
            display: block;
            width: 100%;
        }

        select {
            background-position: calc(100% - 10px) center;
            padding-right: 30px;
        }

        .actions {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .btn-cancel {
                color: rgb(200, 200, 200);
                box-shadow: none;
                cursor: pointer;
            }

            button {
                margin: auto;
                width: 50%;
                height: 50px;
                border-radius: 2px;
                display: block;
                background-color: rgba(255, 255, 255, 0.4);
                box-shadow: 0 0.5px 2px 0 rgba(50, 51, 52, 0.1);
                border: none;
                background: #3b93f7;
                color: white;
            }
        }
    }

}

@media (min-width: 600px) {
    .tasks-grid {
        flex-wrap: wrap;
    }

    .project-container .project-status {
        justify-content: left;
        
        .status {
            margin-right: 30px;
        }
    }

    .project-container .section .tasks-container .task .task-body .task-details .control .actions {
        display: flex;
    }
}

.picker {
    
    .picker__holder {
        font-size: 10px;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        z-index: 100;
    
        .picker__frame {
            position: static;
            max-width: 500px;
        }
    }
}