html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom, #3b93f7, #25dafc);
    color: white;
}

.login-container {
    width: 75%;
    max-width: 400px;
    height: 100%;
    margin: auto;
    color: white;
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;

    img {
        width: 200px;
        margin: 20px 0;
    }

    h1 {
        flex: 1 0 25%;
    }   

    .form-group {
        flex: 1 0 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-input {
            width: 100%;
            margin-bottom: 20px;
            color: white;
            &::placeholder {
                color: white;
            }
        }

        #sign-in {
            margin-top: 50px;
            margin-bottom: 100px;
            width: 50%;
            height: 50px;
            border-radius: 2px;
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 0 0.5px 2px 0 rgba(50, 51, 52, 0.1);
            border: none;
            color: #31b3f9;

            &.enabled {
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
} 

.tasks-grid {
    padding: 20px;
    display: flex;
    overflow: scroll;

    .task-card {
        flex-shrink: 0;
        margin-top: 20px;
        margin-right: 20px;
        width: 180px;
        height: 200px;
        overflow: scroll;
        display: flex;
        flex-direction: column;

        .tasks {
            height: 100px;
            flex: 1;
        }

        .progress-percent {
            text-align: right;
        }
    }
}

.project-container {
    padding: 0 10%;
    height: 100%;
    margin: auto;
    background-color: white;
    font-family: "Open Sans";
    overflow: scroll;
    
    .task-count {
        color: rgb(150,150,150);
    }

    .progress-percent {
        text-align: right;
        color: rgb(150,150,150);
    }

    .section {
        margin-top: 20px;

        &.collapsed {
            .tasks-container {
                height: 0;
                overflow: hidden;
            }
        }

        .section-toggler {
            display: flex;
            margin-bottom: 10px;
            .section-name {
                flex: 1;
                font-size: 1.2rem;
            }
            img {
                flex: 0 0;
                width: 15px;
                height: 15px;
            }
        }

        .tasks-container {
            .task {
                border-bottom: solid 1px rgb(200, 200, 200);
                display: flex;
                padding: 5px 0;
                .image-container {
                    flex: 0 0;
                    margin-right: 5px;
                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
                .task-body {
                    color: rgb(150, 150, 150);

                    .task-name {
                        flex: 1 0 90%;
                        display: flex;
                        align-items: center;
                        color: black;
                        font-size: 1rem;
                    }
                    .task-details {
                        &.hidden {
                            height: 0;
                            overflow: hidden;
                        }
                        .task-description {
                            color: rgb(150, 150, 150);
                            margin: 5px 0;
                        }
                        .control {
                            display: flex;
                            color: black;
                            .image-container {
                                flex: 0 0;
                                margin-right: 5px;
                            }
                            .actions {
                                .link {
                                    margin-left: 10px;
                                    margin-bottom: 10px;
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .tasks-grid {
        flex-wrap: wrap;
    }

    .project-container .section .tasks-container .task .task-body .task-details .control .actions {
        display: flex;
    }
}