.bs-component.add-task-container.white-bg(data-bind="visible: currentPage() == 'add-task'")
    .container
        form#add-task-form.add-task(data-bind='submit: createTask')
            h3.heading Add task
            .form-group
                label(for='task-name') Task title
                input#task-name(required, placeholder='Walk the dog')
            .form-group
                label(for='tasklist-id') Tasklist
                select#tasklist-id(required)
            .actions
                button(type='submit') SAVE