.bs-component.add-task-container.white-bg(data-bind="visible: currentPage() == 'add-task'")
    .container
        .spinner.dark(data-bind='visible: creatingTask()')
            .bounce1
            .bounce2
            .bounce3

        form#add-task-form.add-task(data-bind='submit: createTask, visible: !creatingTask()')
            h3.heading Add task
            // ko if: currentPage() == 'add-task'
            .form-group
                label(for='task-name') Task title
                input#task-name.text-input(required, placeholder='Walk the dog', data-bind='hasFocus: true')
            // /ko
            .form-group
                label(for='project-id') Project
                select#project-id(required, data-bind='options: allProjects, optionsText: "text", optionsValue: "value", event: {change: function () {getProjectTasklists($element.value)}}')
                    option(value='') Loading projects...
            .form-group
                label(for='tasklist-id') Tasklist
                select#tasklist-id(required, data-bind='value: selectedTasklist, valueUpdate: "input", options: allTasklists, optionsText: "text", optionsValue: "value"')
                    option(value='') Loading tasklists...
            // ko if: selectedTasklist() == -1
            .form-group
                input#tasklist-name.text-input(placeholder='Tasklist name...', required, data-bind='hasFocus: true')
            // /ko
            .double-group
                .form-group
                    label(for='start-date') Start date
                    input#start-date.text-input(type='date', data-bind='textInput: startDate, valueUpdate: "input"')
                .form-group
                    label(for='due-date') Due date
                    input#due-date.text-input(value='', type='date', data-bind='textInput: dueDate, valueUpdate: "input"')
                    a.clear(href="#", data-bind="visible: dueDate, click: function(){dueDatePicker.clear()}")
                        include ../images/icons/plus.svg
            .actions
                button(type='submit') Save
