nav.navbar.navbar-dark(data-bind="visible: showNav, css: {'navbar-dark': !lightNav()}")
    .container
        a.back-button(href='#', data-bind='click: goBack, visible: backButton()')
            .svg-icon.svg-icon-dark(data-bind="css: {'svg-icon-white': lightNav}")
                include ../images/icons/back.svg
        .navbar-date(data-bind="text: moment(new Date()).format('D MMM YYYY'), visible: !backButton()")
        ul.navbar-nav.navbar-right
            li.nav-item
                a.refresh-tasks.nav-link(href='#', data-bind="click: getAllTasks, css: loadingTasks() ? 'loading' : ''", title="Refresh all tasks")
                    .svg-icon.svg-icon-dark(data-bind="css: {'svg-icon-white': lightNav}")
                        include ../images/icons/refreshing.svg
            li.nav-item
                a.search-tasks.nav-link(href='#', data-bind="click: function() {currentPage('search')}", title="Search tasks")
                    .svg-icon.svg-icon-dark(data-bind="css: {'svg-icon-white': lightNav}")
                        include ../images/icons/search.svg
            li.nav-item
                a.add-task.nav-link(href='#', data-bind="click: function() {currentPage('add-task')}", title="Add task")
                    .svg-icon.svg-icon-dark(data-bind="css: {'svg-icon-white': lightNav}")
                        include ../images/icons/plus.svg
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                    img.user-icon(data-bind='attr:{src: userIcon}', src='')
                .dropdown-menu
                    a.dropdown-item(href='download/TidyTasks.zip', data-bind='visible: !(window && window.process && window.process.type == "renderer")') Download for Mac
                    a.dropdown-item(href='#', target='_blank', data-bind='attr: {href: domain}') Go to Projects
                    .dropdown-divider
                    a.dropdown-item(href='#', data-bind='click: logout') Sign out