//- for electron - place before all scripts
script. 
    if (typeof module === 'object') {window.module = module; module = undefined;}

script(src='js/zepto.min.js')
script(src='js/moment.min.js')
script(src='js/knockout.min.js')
script(src='js/marked.min.js')

//- disable and re-enable console for this script
script.
    savedConsoleLog = console.log; console.log = function(){};
script(src='js/HackTimer.min.js')
script.
    console.log = savedConsoleLog;


link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
script(src='https://cdn.jsdelivr.net/npm/flatpickr')
script(src='js/auth.min.js')
script(src='js/app.min.js')

//- for electron - place after all scripts
script.
    if (window.module) module = window.module;

//- electron related stuff
script.
    if (window.require) {
        require('./renderer.js');
        var shell = require('electron').shell;
        
        // open links externally by default
        $(document).on('click', 'a[target="_blank"]', function(event) {
            event.preventDefault();
            shell.openExternal(this.href);
        });

        // check app version against current version and display alert if new one available
        var currentVersion = window.require('electron').remote.app.getVersion()
        $.ajax({
            url: "https://teamwork.github.io/hackathon-tidytasks/package.json",
            dataType: "json",
            success: function (data) {
                if(data.version && data.version > currentVersion) {
                    alert('There is a new desktop version available! Visit the web version to download it.');
                }
            }
        });
    }

