script(src='js/jquery.min.js')
script(src='js/moment.min.js')
script(src='js/knockout.js')
script(src='js/bootstrap.min.js')
script(src='js/picker.js')
script(src='js/picker.date.js')
script(src='js/auth.js')
script(src='js/app.js')