.bs-component.search-container(data-bind="visible: currentPage() == 'search'")
    .container
        h2.heading Search tasks
        input(id='search-term', placeholder='Search term...', data-bind='textInput: searchTerm, valueUpdate: "input"')
        
        // ko if: searchTerm() && !searchResults().length
        .no-results No results matched your search
        // /ko

        .tasks-container(data-bind='foreach: searchResults, visible: searchTerm() && searchResults().length')
            include task
