.bs-component.splash-container.blue-bg(data-bind="visible: currentPage() == 'splash'")
    div
        img(src='images/icons/projects-mark-white.svg', width='50', height='50', alt='Loading...')
        | Loading...