.bs-component.project-container.white-bg(data-bind="visible: currentPage() == 'tasks-view'")
    .container
        // ko foreach: projectTree()
        div(data-bind="if: !currentProjectId() || currentProjectId() == projectId")
            // ko if: currentProjectId()
            h2.project-name(data-bind='text: projectName')
            .task-count(data-bind="text: taskCount + ' task' + (taskCount == 1 ? '' : 's') + ' today.'")
            .project-status
                a.status.all(href='#', data-bind='css: {"selected": currentFilter() == "all"}, click: function() { showTasks({projectId: $data.projectId, filter: "all"}) }')
                    | All
                    .status-count(data-bind='text: taskCount')
                a.status.late(href='#', data-bind='visible: lateTasks, css: {"selected": currentFilter() == "late"}, click: function() { showTasks({projectId: $data.projectId, filter: "late"}) }')
                    | Late
                    .status-count(data-bind='text: lateTasks')
                a.status.today(href='#', data-bind='visible: currentTasks, css: {"selected": currentFilter() == "today"}, click: function() { showTasks({projectId: $data.projectId, filter: "today"}) }')
                    | Today
                    .status-count(data-bind='text: currentTasks')
                a.status.upcoming(href='#', data-bind='visible: upcomingTasks, css: {"selected": currentFilter() == "upcoming"}, click: function() { showTasks({projectId: $data.projectId, filter: "upcoming"}) }') 
                    | Upcoming
                    .status-count(data-bind='text: upcomingTasks')
            // /ko
            .section(data-bind='foreach: tasklists')
                .task-list
                    .section-toggler
                        .section-name(data-bind='text: tasklistName')
                    
                    .tasks-container(data-bind='foreach: $data.tasks')
                        // ko if: currentFilter() == taskType || currentFilter() == 'all'
                        include task
                        // /ko
        // /ko