.bs-component.project-container.white-bg(data-bind="visible: currentPage() == 'tasks-view'")
    .container
        // ko if: !currentProjectId()
        h2 All tasks
        .task-count(data-bind="text: totalTasks() + ' task' + (totalTasks() == 1 ? '' : 's') + ' today.'")
        // /ko
        div(data-bind='foreach: projects')
            .section(data-bind="if: !currentProjectId() || currentProjectId() == projectId, visible: !currentProjectId() || currentProjectId() == projectId")
                
                // ko if: currentProjectId()
                h2(data-bind='text: projectName')
                .task-count(data-bind="text: taskCount + ' task' + (taskCount == 1 ? '' : 's') + ' today.'")
                .project-status
                    a.status.all(href='#', data-bind='css: {"selected": currentFilter() == "all"}, click: function() { currentProjectId(projectId); currentFilter("all") }')
                        | All
                        .status-count(data-bind='text: taskCount')
                    a.status.late(href='#', data-bind='visible: lateCount, css: {"selected": currentFilter() == "late"}, click: function() { currentProjectId(projectId); currentFilter("late") }')
                        | Late
                        .status-count(data-bind='text: lateCount')
                    a.status.today(href='#', data-bind='visible: todayCount, css: {"selected": currentFilter() == "today"}, click: function() { currentProjectId(projectId); currentFilter("today") }')
                        | Today
                        .status-count(data-bind='text: todayCount')
                    a.status.upcoming(href='#', data-bind='visible: upcomingCount, css: {"selected": currentFilter() == "upcoming"}, click: function() { currentProjectId(projectId); currentFilter("upcoming") }') 
                        | Upcoming
                        .status-count(data-bind='text: upcomingCount')
                // /ko

                div(data-bind='foreach: tasklists')
                    .task-list(data-bind='visible: tasks.length')
                        .section-toggler
                            .section-name(data-bind='text: tasklistName')
                        .tasks-container(data-bind='foreach: tasks')
                            include task
