.bs-component.project-container.white-bg(data-bind="visible: currentPage() == 'tasks-view'")
    .container
        // ko foreach: projects()
        div(data-bind="if: !(currentProjectId() && currentProjectId() != projectId)")
            h2.project-name(data-bind='text: projectName')
            
            .task-count(data-bind="text: taskCount + ' tasks today.'")

            .project-status
                a.status.all(href='#', data-bind='css: {"selected": currentFilter() == "all"}, click: function() { showTasks({projectId: $data.projectId, filter: "all"}) }')
                    | All
                    .status-count(data-bind='text: taskCount')
                a.status.late(href='#', data-bind='visible: lateTasks, css: {"selected": currentFilter() == "late"}, click: function() { showTasks({projectId: $data.projectId, filter: "late"}) }')
                    | Late
                    .status-count(data-bind='text: lateTasks')
                a.status.today(href='#', data-bind='visible: currentTasks, css: {"selected": currentFilter() == "today"}, click: function() { showTasks({projectId: $data.projectId, filter: "today"}) }')
                    | Today
                    .status-count(data-bind='text: currentTasks')
                a.status.upcoming(href='#', data-bind='visible: upcomingTasks, css: {"selected": currentFilter() == "upcoming"}, click: function() { showTasks({projectId: $data.projectId, filter: "upcoming"}) }') 
                    | Upcoming
                    .status-count(data-bind='text: upcomingTasks')
            
            .section(data-bind='foreach: tasklists')
                .task-list
                    .section-toggler
                        .section-name(data-bind='text: tasklistName')
                        
                        a.add-task(href='#', data-bind="click: function() {showAddTask(tasklistId)}")
                            img.svg-icon.svg-icon-dark(src='images/icons/plus.svg')
                    
                    .tasks-container(data-bind='foreach: $data.tasks')
                        // ko if: currentFilter() == taskType || currentFilter() == 'all'
                        .task(data-bind="attr: {'data-task-id' : taskId}")
                            .image-container
                                // ko if: subtaskCount
                                a.task-action(href='#', data-bind='click: function () {highlightSubtasks(taskId)}')
                                    span(class='subtask-count', data-bind='text: subtaskCount')
                                // /ko
                                // ko ifnot: subtaskCount
                                a.task-action(href='#', data-bind='click: function () {completeTask(taskId)}')
                                    img.check(src='images/icons/task.svg', alt='Complete')
                                // /ko
                            
                            .task-body
                                .task-name(data-bind='text: taskName, click: toggleDetails')
                                
                                .task-details.hidden
                                    .task-description(data-bind='text: taskDescription')
                                    
                                    .task-controls
                                        .open-in-projects.control
                                            .image-container
                                                img(src='images/icons/projects-mark.svg', width='20', height='20')
                                            
                                            .actions
                                                a.link(data-bind="attr: {href: domain() + '#tasks/' + taskId}", href='#', target='_blank')
                                                    | View in Projects
                        // /ko
        // /ko