.task(data-bind="attr: {'data-task-id' : taskId}")
    .image-container
        // ko if: subtaskCount
        a.task-action(href='#', data-bind='click: function () {toggleDetails(taskId)}')
            span(class='subtask-count', data-bind='text: subtaskCount, css: taskType')
        // /ko
        // ko ifnot: subtaskCount
        a.task-action(href='#', data-bind='click: function () {completeTask(taskId)}')
            .check(data-bind='css: taskType')
                include ../images/icons/task.svg
        // /ko
    
    .task-body
        .task-name(data-bind='html: taskName, click:  function () {toggleDetails(taskId)}')
        
        .task-details.hidden
            .task-description(data-bind='html: taskDescription')
            
            .task-controls
                // ko if: taskStartDate
                .date.control
                    .image-container
                        .icon
                            include ../images/icons/calendar.svg
                    .actions
                        // ko text: "Start: " + moment(taskStartDate,"YYYYMMDD").format("D MMM YYYY")
                        // /ko
                // /ko
                // ko if: taskDueDate
                .date.control
                    .image-container
                        .icon
                            include ../images/icons/calendar.svg
                    .actions
                        // ko text: "Due: " + moment(taskDueDate,"YYYYMMDD").format("D MMM YYYY")
                        // /ko
                // /ko
                // ko if: attachmentCount > 0
                .date.control
                    .image-container
                        .icon
                            include ../images/icons/attachment.svg
                    .actions
                        a.link(data-bind="attr: {href: domain() + '#tasks/' + taskId}, text: attachmentCount + ' attachment' + (attachmentCount == 1 ? '' : 's')", href='#', target='_blank')
                // /ko
                // ko if: commentCount > 0
                .date.control
                    .image-container
                        .icon
                            include ../images/icons/comments.svg
                    .actions
                        a.link(data-bind="attr: {href: domain() + '#tasks/' + taskId}, text: commentCount + ' comment' + (commentCount == 1 ? '' : 's')", href='#', target='_blank')
                // /ko
                .open-in-projects.control
                    .image-container
                        .icon
                            include ../images/icons/projects-mark.svg
                    .actions
                        a.link(data-bind="attr: {href: domain() + '#tasks/' + taskId}", href='#', target='_blank')
                            | View in Projects

                // ko if: getSubtasks(taskId).length
                .subtasks(data-bind="foreach: getSubtasks(taskId)")
                    .task(data-bind="attr: {'data-task-id': taskId}")
                        .image-container
                            // ko if: subtaskCount
                            a.task-action(href='#', data-bind='click: function () {}')
                                span(class='subtask-count', data-bind='text: subtaskCount, css: taskType')
                            // /ko
                            // ko ifnot: subtaskCount
                            a.task-action(href='#', data-bind='click: function () {completeTask(taskId)}')
                                .check(data-bind='css: taskType')
                                    include ../images/icons/task.svg
                            // /ko
                        .task-body
                            .task-name(data-bind='html: taskName, click:  function () {toggleDetails(taskId)}')

                // /ko
                // ko if: subtaskCount != getSubtasks(taskId).length
                .subtasks-else One or more subtasks belong to someone else
                // /ko